UTIENCE AKADEMİ PYTHON BOOTCAMP ÇALIŞMA SORULAR 1

1) Bir değişkene bir tamsayı değeri atayın ve bu değişkenin veri tipini kontrol edin.

In [3]:
x = 5
type(x)

int

In [4]:
y = 15.6
type(y)

float

2)İki değişkenin değerini toplayın ve sonucu bir üçüncü değişkende saklayın. Sonucu yazdırın

In [5]:
toplam = x + y
print(toplam)

20.6

3)Bir string ve bir integer değişkeni tanımlayın. Ardından, bu iki değişkeni birleştirip yazdırmak için
type casting'i kullanın

In [9]:
a = 5
b = "Çilek"

birlestirilmis = str(a) + " " + b

print(birlestirilmis)

5 Çilek

4)İki tamsayı tanımlayın, bu iki sayıyı toplayın ve sonucu float türünde yazdırın

In [10]:
z = 5
t = 10

toplam=z+t

float_toplam = float(toplam)

print(float_toplam)

15.0

5)Tanımladığınız bir tamsayının tek mi çift mi olduğunu kontrol edin\

In [12]:
sayi = 25
if sayi % 2 == 0:
  print("Sayınız Çifttir")
else:
    print("Sayınız Tektir")

Sayınız Tektir

In [14]:
sayi = 26
if sayi % 2 == 0:
  print("Sayınız Çifttir")
else:
  print("Sayınız Tektir")

Sayınız Çifttir

 6) Üç değişken oluşturun. Bu değişkenlerin türünü kontrol edin ve türleri ekrana yazdırın

In [21]:
degisken1 = 5
degisken2 = "Çilek"
degisken3 = 4.15

tür1 = type(degisken1)
tür2 = type(degisken2)
tür3 = type(degisken3)

print(tür1)
print(tür2)
print(tür3)

<class 'int'>
<class 'str'>
<class 'float'>

7)Bir float değişken tanımlayın. Ardından, bu değişkeni bir tamsayıya dönüştürün ve sonucu

In [23]:
a = 4.15

tamsayı = int(a)
print(tamsayı)

4

8)Bir boolean değişken oluşturun. Ardından, bu değişkeni bir string'e dönüştürün ve sonucu
yazdırın

In [26]:
z = True

string = str(z)
print(string)

True

9)Bir string değişken tanımlayın. Ardından, bu string'i bir tamsayıya dönüştürmeye çalışın ve bir
hata alıp almadığınızı kontrol edin

In [28]:
x = "Çilek"

tamsayı = int(x)
print(tamsayı)

ValueError: ignored

In [30]:
x = "100"

tamsayı = int(x)
print(tamsayı)

100

10)İki tamsayı tanımlayın. Ardından, birinci sayının ikinci sayıya bölümünü float olarak yazdırın.

In [32]:
x = 100
y = 50

islem= float(x / y)
print(islem)

2.0